In [55]:
from pyspark.sql import SparkSession
import os

os.environ['HADOOP_USER_NAME'] = 'n.almazova'
# os.environ['JAVA_HOME'] = 'C:\\Program Files\\Java\\bin' 


# Создаем Spark сессию
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[1]") \
    .config('spark.hadoop.fs.defaultFS', f'hdfs://172.17.0.23/user/n.almazova')\
    .getOrCreate()

In [62]:
# df = spark.read.option('header', 'true').format('utf-8').csv(path='file:///C:/Users/NITRO 5/test1/clients.csv', multiLine=True)
df = spark.read.option('header', 'true').format('utf-8').csv(path='file:///D:/стажировка Астон/Project B/Project-B/data/clients.csv', multiLine=True)

In [63]:
df.show()

+---------+------------------+--------------------+--------------------+--------------------+
|client_id|       client_name|        client_email|        client_phone|      client_address|
+---------+------------------+--------------------+--------------------+--------------------+
|        1|    Mercedes Ramos|jordan31@example.com|001-513-577-3838x...|950 Cantu Estate ...|
|        2|     Sandra Parker|johnsongabriela@e...|001-871-446-6466x...|910 Suarez Mounta...|
|        3|     Timothy Smith|kylethompson@exam...|  814-849-0337x93734|68904 Johnson Str...|
|        4|       April Huber|maryhoward@exampl...|        830-308-9198|44031 Morris Burg...|
|        5|       Becky Young|cooklisa@example.net|       (544)763-5946|9193 Miller Fork
...|
|        6|     Daniel Gibson|melissajames@exam...|   (708)904-4504x599|5370 Darryl Meado...|
|        7|Christina Williams|  nyoung@example.com|        840-886-1369|2309 Salazar Traf...|
|        8|       Chad Mccall|   mwood@example.net|  886.966.9325x35284|0477 Freeman Stra...|
|        9|        Sean Mason|jennifertaylor@ex...|        687.388.1151|10726 Guy Valleys...|
|       10|    Shannon Clarke|ddominguez@exampl...|        379-212-9730|2197 Rodriguez Or...|
|       11|      Andrea Moore| obishop@example.com|  603.535.3550x90604|79864 Michelle Tr...|
|       12|     Rickey Lowery|william38@example...|  645-374-5983x89023|331 Bradford Esta...|
|       13|      Tyler Jordan|garciajulian@exam...|          5995442952|491 Reyes Inlet A...|
|       14|       Linda Quinn|thomas10@example.net|        940.930.4120|16197 Rachel Poin...|
|       15|         Paul Long|jennifercollins@e...|   715.857.7185x3897|612 West Walks
No...|
|       16|       Marco Evans|ashley06@example.org|    284.915.0032x935|671 Briana Street...|
|       17|     Whitney Perez|joyevans@example.net|        259-378-9651|393 Simpson Union...|
|       18|      Samuel Small|stephen19@example...|+1-996-994-3043x0...|4095 Christopher ...|
|       19|   Robert Martinez|lindawilliams@exa...|001-614-409-1583x...|491 Timothy Lock ...|
|       20|    Candice Stuart|brendapope@exampl...|          2182590009|5536 Thomas Mills...|
+---------+------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [64]:
df.count()

10000

In [72]:
df.write.format('csv').save('clients1')

In [33]:
spark.stop()